In [2]:
# Import pandas
import pandas as pd

# Assign spreadsheet filename: file
file = 'data/battledeath.xlsx'

# Load spreadsheet: xls
xls = pd.ExcelFile(file)

# Print sheet names
print(xls.sheet_names)

['2002', '2004']

In [7]:
# Load a sheet into a DataFrame by name: df1
df0 = xls.parse(0)

# Print the head of the DataFrame df1
print(df0.head())

  War, age-adjusted mortality due to       2002
0                        Afghanistan  36.083990
1                            Albania   0.128908
2                            Algeria  18.314120
3                            Andorra   0.000000
4                             Angola  18.964560

In [4]:
# Load a sheet into a DataFrame by name: df1
df1 = xls.parse('2002', skiprows=[0], names=['Country','AAM due to War (2002)'])

# Print the head of the DataFrame df1
print(df1.head())

               Country  AAM due to War (2002)
0              Albania               0.128908
1              Algeria              18.314120
2              Andorra               0.000000
3               Angola              18.964560
4  Antigua and Barbuda               0.000000

In [5]:
# Parse the first column of the second sheet and rename the column: df2
df2 = xls.parse(1, usecols=['Country'], skiprows=[0], names=['Country','AAM due to War (2002)'])

# Print the head of the DataFrame df2
print(df2.head())

               Country
0              Albania
1              Algeria
2              Andorra
3               Angola
4  Antigua and Barbuda